{% extends 'base.html'%}

{% block content %}
<div class="profile" style="margin-top: ovh;padding-bottom: 5vh; width: 100vw; height: 100vh; background-color: #121420; color: #b76d68;  background-size: 100%;">
<div class="row"style="margin: 3vh 10vw; padding-top: 5vh;">
  <div class="col-md-4">

    {% if author.profile_url %}
    <img  src="{{url_for('static',filename=author.profile_url)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{author.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if author.bio %}
      <p> {{author.bio}}</p>
    {%else%}
      <p> {{author.username| capitalize}} has no bio </p>
    {% endif %}
   <div class="row">
    <div class="col-md-6">
      <a href="{{url_for('main.new_blog',blog_id=current_user.id)}} " class="btn" style="color:white;background-color: rgb(131, 29, 114); border: solid black 2px;border-radius: 5px ;height: 7vh;width: 13vw;font-size: large;margin-left: 30vw;margin-top: 3vh; ">Add New blog</a>
    </div>
    <div class="col-md-6">
      <a href="{{url_for('main.blogs',uname=current_user.username)}} " class="btn" style="color:white;background-color: rgb(48, 77, 209); border: solid black 2px;border-radius: 5px ;height: 7vh;width: 13vw;font-size: large;margin-left: 0vw;margin-top: 3vh; ">My blogs</a>
    </div>
    
</div>
  </div>
 <a href="{{url_for('main.update_admin_profile',uname=author.username)}} "><button style="border: solid white 2px;border-radius: 5px ; color: white;background: transparent;padding:1vh 3vw ;margin:3vh 4vw">Edit profile</button></a>
  <!--Display profile photo-->
  
</div>
{% if author==current_user %}
<form style="width: 19vw;margin-top: 5vh; margin-left: 10vw; " action="{{url_for('main.update_admin_pic',uname=author.username)}}" method="post" enctype = "multipart/form-data">

  <label for="photo">
    Upload Profile Picture
    <input type="file"  name="photo" class="form-control" required></label>
    <input style="margin-top: 3vh;margin-left: 0vw;border: solid white 2px;border-radius: 5px ;background: transparent;color: white;padding:1vh 3vw" type="submit">
  </form>


{% endif %}


</div> 

{% endblock %}




