{% extends 'base.html'%}

{% block content %}
<div class="profile" style="margin-top: ovh;padding-bottom: 5vh; width: 100vw; height: 100vh; background-color: #121420; color: #b76d68;  background-size: 100%;">
<div class="row" style="margin: 3vh 10vw; padding-top: 20vh;" >
    <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_url %}
    <img  src="{{url_for('static',filename=user.profile_pic_url)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}
    <br>
    
  </div>
<a href="{{url_for('main.update_profile',uname=user.username)}} "><button style="border: solid white 2px;border-radius: 5px ; color: white;background: transparent;padding:1vh 3vw ;margin:3vh 4vw">Edit bio</button></a>
  
</div>
{% if user==current_user %}
<form style="width: 19vw;margin-top: 5vh; margin-left: 10vw; " action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

  <label for="photo">
    Upload Profile Picture
    <input type="file"  name="photo" class="form-control" required></label>
    <input style="margin-top: 3vh;margin-left: 0vw;border: solid white 2px;border-radius: 5px ;background: transparent;color: white;padding:1vh 3vw" type="submit">
    </form>
    
    

{% endif %}

</div> 

{% endblock %}