body{
    background-color: #121420;
    color: #B76D68;
    font-style: italic;
}
.container{
    background-color: #121420;
    color: #B76D68;
}

button{
    color: aliceblue;
    border-radius: 5px;
    border: solid #00afb9 2px;
}