{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="height: 100vh;background-image:url(https://images.unsplash.com/photo-1517148892120-4d2da39c8dc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;background-repeat: no-repeat;background-size: cover;color: #fdfcdc;">

    <div class="container" style="text-align: center;background: transparent;" >
      <h1 class="display-4">CLARITY BLOG</h1>
      
      <h1>Welcome {{user.username}}. </h1>
      <p class="lead">This is a safe space for me to express myself.<br> I share my deepest beliefs and philosophies about life and everything within it.</p>
        <p class="lead">Feel free to leave a comment, but be respectful about it. We are all on a progressive learning path.</p>

      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card" style="background: transparent;
          margin-top: 6vh; border: solid #fdfcdc 2px;border-radius: 5px;padding:5vh 3vw" >
        <h3>{{quotes.quote}} </h3>
        <h5>~{{quotes.author}} </h5>
        
      </div>
      <div class="col-md-3"></div>
        </div>
      </div>
      
        

    
  </div>

<div class="container-fluid" style="color: #b76d68;background-color: #121420; width: 100vw;margin-top: -5vh;">
{% if technology %}
    <div class="row" style="margin-top:5vh">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for item in technology %}
                <div class="card" style="margin-top:5vh;">
                  <div class="card-body">
                      <div class="card-title">
                        <h2>{{item.title}}</h2>  
                      </div>
                      <div class="card-text text-muted">
                        <h4>{{item.category}} </h4></div>
                        <div class="card-text">
                        <h3>Author: {{item.pename}} </h3>
                        <p class="card-text"><small class="text-muted">Published: {{item.published}}</small></p>
                        <h5>{{item.content}} </h5>
                        <a href="{{url_for('main.new_comment',blog_id_comment=item.id)}} "><button><i class="fa fa-comment" aria-hidden="true"></i></button></a>
                        

                      </div>
                      
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>


{% endif %}

{% if politics %}
    <div class="row" style="margin-top:5vh">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for item in politics %}
                <div class="card" style="margin-top:5vh;">
                  <div class="card-body">
                      <div class="card-title">
                        <h2>{{item.title}}</h2>  
                      </div>
                      <div class="card-text text-muted">
                        <h4>{{item.category}} </h4></div>
                        <div class="card-text">
                        <h3>Author: {{item.pename}} </h3>
                        <p class="card-text"><small class="text-muted">Published: {{item.published}}</small></p>
                        <h5>{{item.content}} </h5>

                      </div>
                      
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>


{% endif %}

{% if entertainment %}
    <div class="row" style="margin-top:5vh">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for item in entertainment  %}
                <div class="card" style="margin-top:5vh;">
                  <div class="card-body">
                      <div class="card-title">
                        <h2>{{item.title}}</h2>  
                      </div>
                      <div class="card-text text-muted">
                        <h4>{{item.category}} </h4></div>
                        <div class="card-text">
                        <h3>Author: {{item.pename}} </h3>
                        <p class="card-text"><small class="text-muted">Published: {{item.published}}</small></p>
                        <h5>{{item.content}} </h5>

                      </div>
                      
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>


{% endif %}
  
{% if personal %}
    <div class="row" style="margin-top:5vh">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for item in personal %}
                <div class="card" style="margin-top:5vh;">
                  <div class="card-body">
                      <div class="card-title">
                        <h2>{{item.title}}</h2>  
                      </div>
                      <div class="card-text text-muted">
                        <h4>{{item.category}} </h4></div>
                        <div class="card-text">
                        <h3>Author: {{item.pename}} </h3>
                        <p class="card-text"><small class="text-muted">Published: {{item.published}}</small></p>
                        <h5>{{item.content}} </h5>

                      </div>
                      
                  </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>


{% endif %}

<div class="contacts" style="background-color: #840032; color: #E5DADA;margin-top:5vh">
  <div class="row">
    <div class="col-md-6">
      <div class="card"   style="background:transparent;margin:5vh 2vw;border: 0ch;">
        <div class="card-title">
          <h2>Subscribe to our Newsletter</h2>
        </div>
        <div class="card-body">
          {{wtf.quick_form(subscribe)}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div style="text-align:center;margin-top:15vh">
        <h4>phone number:   0712345678</h4>
      <h4>email adddress: clarity.blogs@mail.com</h4>
       <a href="https://www.instagram.com/torimakena/"> <button style="background: transparent; color: #E5DADA; border: solid 1px #E5DADA;border-radius:5px;padding:5px;"> <i class="fa fa-instagram" aria-hidden="true"></i>Instagram</button> </a>
      <a href="https://twitter.com/Tori_makena"> <button style="background: transparent; color: #E5DADA; border: solid 1px #E5DADA;border-radius:5px;padding:5px;"> <i class="fa fa-twitter" aria-hidden="true"></i>Twitter</button> </a>
      <a href="https://www.facebook.com/login/"><button style="background: transparent; color: #E5DADA; border: solid 1px #E5DADA;border-radius:5px;padding:5px;"> <i class="fa fa-facebook" aria-hidden="true"></i>Facebook </button> </a>
      </div>
      
    </div>

  </div>
  <p style="text-align:center;margin: 5vh 1vw;">copyright 2022 Toribot</p>
</div>

</div>

{% endblock %}