<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link btn" role="pill" href="/"><i class="fa fa-pencil-square" aria-hidden="true"></i>  CLARITY BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" role="pill" href="/">Quotes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn "  role="pill"   href="{{url_for('auth.register')}} " >Register</a>
    </li>

    {% if current_user.is_authenticated  %}
      
    <li class="nav-item">
      <a class="nav-link btn" role="pill" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn" role="pill" href="{{url_for('main.profile',uname=current_user.username)}} ">{{current_user.username}}</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link btn" role="pill" href="{{url_for('auth.logout')}} ">Logout</a>
      </li>
       {% else %}
       <li class="nav-item">
        <a class="nav-link btn" role="pill"  href="{{url_for('auth.login') }}">Login</a>
      </li>
      {% endif %}
      
        
  </ul>