{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="comment" style="width: 100vw;height: 100vh;background-color: #121420 ;color: #b76d68;">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            
            {{ wtf.quick_form(comment_form) }}
        </div>
        <div class="col-md-2"></div>
    </div>
    <a href='/home'><button style="text-align: center; margin:2vh 45vw ; padding:2vh 2vw;border-radius: 5px;background-color: #0081a7;">To blogs</button></a>
    
        {% if all_comments %}
                {% for comment in all_comments %}
                <div class="row">
        <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                        <div class="comment">
                            <br>
                            <h4>{{comment.content}} </h4>
                            <p>by: {{comment.user.username}} </p>
                        </div>
                        
                    </div>
                <div class="col-md-2"></div>
                {% endfor %}
                {% else %}
            {% endif %}
            
    </div>
</div>

{% endblock %}